{{!< default}}

{{#author}}
<header id="homepage-hero"
	{{#if cover}}
	style="background-image: url({{cover}});"
	{{else}}
		{{#if @blog.cover}}
		style="background-image: url({{@blog.cover}});"
		{{else}}
		style="background-image: url('{{asset "images/cover.jpg"}}');"
		{{/if}}
	{{/if}}
>
	<div class="title-container">

		<h1 class="author-title">{{name}}</h1>
		<p class="author-description">学生一枚|自学党|web？|心宽体胖</p>

		<ul class="homepage-links">
			<li><a href="{{@blog.url}}">主页</a></li>
			<li><a href="#home-latest-post" id="blog">博文</a></li>
			<li><a href="#">更多</a></li>
			{{#if website}}
			<li><a href="{{website}}" target="_blank">Github博客</a></li>
			{{/if}}


		</ul>
			{{> social}}
	</div>

</header>
{{/author}}

<main id="home-latest-post">
	{{#foreach posts}}
		{{> excerpt}}
	{{/foreach}}
	<div id="gotop" style="background: url('{{asset "images/gotop.jpg"}}') no-repeat;"></div>
	{{pagination}}
</main>
